* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 260px;
  padding: 16px q0px;
  /* border-right: 1px solid #1f1f1f; */
}

.sidebar-header {
  margin-bottom: 60px;
  gap: 10px;
}

.sidebar-list {
  list-style: none;
}

.sidebar-list li {
  margin-bottom: 24px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #898989;
  text-decoration: none;
  font-size: 14px;
}

.sidebar a img {
  width: 40.41px;
  height: 40.41px;
}

.sidebar a:hover {
  color: white;
}
